/* #region Base */
.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* #endregion */

/* #region Common */
section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  section {
    padding: 120px 0;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-links {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

.footer-logo-accent {
  color: #f4f4fd;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  header .container {
    padding: 16px;
    max-width: 425px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  header .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158) {
  header .logo {
    margin-right: 76px;
  }
}

.header-nav-list {
  display: none;
  gap: 40px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: inline-flex;
  }
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  padding: 24px 0;
}

.active {
  position: relative;
  color: #404bbf;
}

.active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
  background-color: #404bbf;
}

.header-nav,
.header-address {
  display: block;
  list-style-type: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: none;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .address {
    display: flex;
    align-items: center;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-style: normal;
  }
}

@media only screen and (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header-address {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .header-address {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

.header-nav:hover,
.header-nav:focus,
.header-address:hover,
.header-address:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Burger menu header */
.header-menu-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.mob-menu-icon {
  display: block;
  fill: #2f2f37;
}

@media only screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.burg-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transform: translateX(100%);

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform, visibility;
}

@media only screen and (min-width: 768px) {
  .burg-menu-bg {
    display: none;
  }
}

.burg-menu-bg.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px;
  margin: 0 auto;
  height: 100%;
  width: 320px;
  position: relative;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: none;
}

.menu-close-btn .icon {
  fill: #2e2f42;
}

.menu-nav {
  display: block;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
  margin-bottom: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.active-mob {
  color: #4d5ae5;
}

.menu-address {
  margin-bottom: 48px;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #434455;
}

.menu-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu-links-item {
  display: inline-flex;
  justify-content: center;
  background-color: #4d5ae5;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.menu-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region Hero section */
.hero-section {
  padding: 72px 0;
  max-width: 425px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 1023px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-tab.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-desk.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-desk@2x.jpg);
  }
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
    margin: 0 auto 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

.order-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  min-width: 169px;
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Benefits section */
.icons-wrapper,
.icons-wrapper .icon {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .icons-wrapper .icon {
    display: block;
  }
  .icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (max-width: 767px) {
  .benefits-item {
    max-width: 288px;
  }
}

@media only screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  margin-bottom: 8px;
  max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .benefits-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
}

.benefits-text {
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .benefits-text {
    font-weight: 400;
  }
}
/* #endregion */

/* #region Team section */
.team-section {
  background-color: #f4f4fd;
}

.team-container {
  padding: 0 28px;
}

@media only screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-container {
    padding: 0px 15px;
  }
}

.team-cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-cards-list {
    gap: 64px 24px;
  }
}

.team-cards-item {
  max-width: 264px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media only screen and (min-width: 768px) {
  .team-cards-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-cards-item {
    max-width: calc((100% - 72px) / 4);
  }
}

.team-cards-wrapper {
  padding: 32px 16px;
}

.team-cards-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.team-cards-text {
  text-align: center;
}

.team-links-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-links-item .social-links:hover,
.team-links-item .social-links:focus {
  background-color: #404bbf;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region Potfolio section */
.portfolio-title {
  text-transform: capitalize;
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-cards-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-cards-list {
    gap: 48px 24px;
  }
}

.portfolio-cards-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-cards-item {
    width: calc((100% - 24px) / 2);
    cursor: pointer;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-cards-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item-image {
  position: relative;
  overflow: hidden;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-cards-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-item:hover .overlay,
.portfolio-cards-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-cards-item:hover,
.portfolio-cards-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion */

/* #region Footer */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 108px;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    padding: 0 15px;
    gap: 0;
  }
}

.footer-logo-container {
  max-width: 288px;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-logo-container {
    max-width: 264px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}

.footer .logo {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer .logo {
    text-align: left;
  }
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-links-container {
  text-align: center;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-links-container {
    text-align: left;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-links-container {
    margin-right: 80px;
  }
}

.links-heading {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}

.footer-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-links-item .social-links:hover,
.footer-links-item .social-links:focus {
  background-color: #31d0aa;
}

footer .form-title {
  text-align: center;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  footer .form-title {
    text-align: left;
  }
}

footer .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  footer .form {
    flex-direction: row;
    gap: 24px;
  }
}

footer .user-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  color: #fff;
  outline: transparent;
}

@media only screen and (min-width: 768px) {
  footer .user-email {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  footer .user-email {
    border: 1px solid #fff;
  }
}

footer .user-email::placeholder {
  font-size: 12px;

  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 1158px) {
  footer .user-email::placeholder {
    color: #fff;
  }
}

footer .subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

footer .subscribe-button:hover,
footer .subscribe-button:focus {
  background-color: #404bbf;
}

.footer .form .icon {
  margin-left: 16px;
}
/* #endregion */

/* #region Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
  transition-delay: 200ms;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;
  }
}

.modal-backdrop.is-open .modal {
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn .icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon,
.modal-close-btn:focus .icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 8px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  outline: transparent;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.modal-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.agreement-container {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-agreement:checked + .agreement-container .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.user-agreement:checked
  + .agreement-container
  .modal-form-checkbox
  .modal-checkbox-icon {
  opacity: 1;
}

.user-agreement:focus-visible + .agreement-container .modal-form-checkbox {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

.privacy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
/* #endregion */
